<style type="text/css">
@media only screen and (max-device-width: 639px) {
	#menu{
		display:none;
	}
	#contentTable, #articles, #footerLeft, #footerRight{
		width: 100%;
	}
	#contentTable td, #articles td, #footerLeft td, #footerRight td{
		padding-left: 10px;
		padding-right: 10px;
	}
	#articles p{
		font-size: .9em;
	}
	.headerLogo, .headerTagline{
		height: auto !important;
		width:100%;
		text-align: center;
	}
}
</style>