<style type="text/css">
	@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700|Lobster|Libre+Baskerville:400,400italic);
	html, body{
		background-color: #dadada;	
		font-size: 14pt;
	}
	#backgroundTable{
		color:#535353;
		background-repeat: repeat-x;
	}
	h1{
		font-family: 'Lobster', cursive;
		line-height: 1.01em;
		color:#b76a0f !important;
	}
	#contentTable{
		width: 640px;
		font-family: sans-serif;
		font-size: .9em;
		font-weight: bold;
		color: #424242;
		background-color:#fff;
	}
	.headerLogo{
		background-color: #e4701e;
		width:175px;
	}
	.headerTagline{
		width:460px;
		height: 138px;
		background-color: #e4701e;
		color: #fff;
		font-size: .7em;
	}
	#menu{
		font-size: .7em;
		font-weight: regular;
		color: #AEAEAE;
		width:160px;
	}
	.menuList{
		padding-left: 0;
		list-style: none;
	}
	.menuListItem{
		display:block;
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom-style:dotted;
		border-bottom-width: 1px;
		border-bottom-color: #E2E2E2;
	}
	#articles{
		padding-top:0;
		font-size: 1.1em;
		color: #848484;
		font-weight: 100;
		width:460px;
	}
	#articles h2{
		margin-top:15px;
		margin-bottom: 10px;
		font-size: 1.4em;
		color: #e4701e !important;
		font-weight:100;
		line-height: 1em;
	}
	#articles p{
		font-size: .7em;
	}
	#footerLeft{
		background-color: #dadada;	
		width: 200px;
		height:40px;
	}
	#footer-left img{
		padding-top:10px;
		border-width: 0;
	}
	#footerRight{
		background-color: #dadada;	
		width: 440px;
		font-size: .55em;
		height:40px;
		font-weight: 100;
	}
</style>